@charset "UTF-8";
/*CSS Document*/

.hidden
{
  display: none;
}

body
{
  height: 100%;
  background-color: #050505;
    position: relative;
}

.title
{
  font-size: 100px;
  color: white;
  text-align: center;
}

.pulsing_Circles
{
  position: absolute;
  z-index: 1;
}

.wave0 
{
  border: 20%;
  border: px solid #FF0000;
  border-radius: 100%;
  background-color: none;
  width: 5vw;
  height: 5vw;
  display: block;
  position: absolute;
  top: 10vw;
  left: 20vw; 
  align-items: center;
  opacity: 1;
  animation: scaleIn 650ms infinite cubic-bezier(.17,.67,.83,.67);
  animation-timing-function: linear
}


.wave1 {
  border: 20%;
  border: px solid #FF5500;
  border-radius: 100%;
  background-color: none;
  width: 5vw;
  height: 5vw;
  display: block;
  position: absolute;
  top: 14vw;
  left: 50vw; 
  align-items: center;
  opacity: 1;
  animation:  scaleIn 650ms infinite cubic-bezier(.17,.67,.83,.67);
  animation-timing-function: linear
}

.wave2
{
  border: 20%;
  border: px solid #00FF18;
  border-radius: 100%;
  background-color: none;
  width: 5vw;
  height: 5vw;
  display: block;
  position: absolute;
  top: 6vw;
  left: 60vw; 
  align-items: center;
  opacity: 2;
  animation: scaleIn 650ms infinite cubic-bezier(.17,.67,.83,.67);
  animation-timing-function: linear
}

.wave3
{
  border: 20%;
  border: px solid #FFF800;
  border-radius: 100%;
  background-color: none;
  width: 5vw;
  height: 5vw;
  display: block;
  position: absolute;
  top: 30vw;
  left: 28vw; 
  align-items: center;
  opacity: 1;
  animation: scaleIn 650ms infinite cubic-bezier(.17,.67,.83,.67);
  animation-timing-function: linear
}

.wave4
 {
  border: 20%;
  border: px solid #FF00CF;
  border-radius: 100%;
  background-color: none;
 width: 5vw;
  height: 5vw;
  display: block;
  position: absolute;
  top: 28vw;
  left: 49vw; 
  align-items: center;
  opacity: 1;
  animation: scaleIn 650ms infinite cubic-bezier(.17,.67,.83,.67);
  animation-timing-function: linear
}

.wave5
 {
  border: 20%;
  border: px solid #00F3FF;
  border-radius: 100%;
  background-color: none;
  width: 5vw;
  height: 5vw;
  display: block;
  position: absolute;
  top: 32vw;
  left: 75vw; 
  align-items: center;
  opacity: 1;
  animation: scaleIn 650ms infinite cubic-bezier(.17,.67,.83,.67);
  animation-timing-function: linear

}

@keyframes scaleIn {
  from {
    transform: scale(.6, .6);
    opacity: 2;
  }
  to {
    transform: scale(5, 5);
    opacity: 1.5;
  }
}


@keyframes fadeIn {
  from {opacity: 0}
  to{opacity: 1}

}

.map1
{
  animation: fadeIn .2s linear;
  position: absolute;
  width: 100%;
  height: 100%;
  
}



.icons
{
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}

.iconsImage
{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons img
{
   transition:.8s;
   filter: none;
   width: 50%;
   height: 50%;
}

.icons img:hover
{
  filter: hue-rotate(360deg);
  width: 60%;
   height: 60%;
}

#worldMap
{
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #050505;

}


.map
{
  width: 70%;
  height: 100%;
 
}