@charset "UTF-8";
/*CSS Document*/

.hidden
{
  display: none;
}

body
{
  background-color:#060606;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
   
}

.title
{
  width: 600px;
  font-family: 'Lobster', cursive;
  font-size: 100px;
  text-align: center;
  background: -webkit-linear-gradient(#00EED0, #662D90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header
{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
}

.sound, .reset
{
  margin: 0 50px;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}


.resetIcon
{
  height: 100%;
}

.sound:active, .reset:active
{
  top: 5px;
}

.volumeOn
{
  height: 100%;
  position: absolute;
}

.volumeOff
{
  height: 100%;
  position: absolute;
  display: none;
}

.prompt
{

  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prompt-btn
{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF5500;
  position: absolute;
  top: 50%;
  padding: 20px 60px;
  border-radius: 60px;
  color: white;
  cursor: pointer;

}

.prompt-btn:hover
{
  transition: all .2s;
  box-shadow: 0px 5px 30px 10px rgba(255,85,0,0.36);
}

.prompt-btn:active
{
  background: #CD4500; 
}



.container
{
  display: none;
  width: 100%;
}

.pulsing_Circles
{
  position: absolute;
  z-index: 1;
}

.wave0 
{
  border: 20%;
  border: px solid #FF0000;
  border-radius: 100%;
  background-color: none;
  width: 5vw;
  height: 5vw;
  display: block;
  position: absolute;
  top: 10vw;
  left: 20vw; 
  align-items: center;
  opacity: 1;
  animation: scaleIn 650ms infinite cubic-bezier(.17,.67,.83,.67);
  animation-timing-function: linear
}


.wave1 {
  border: 20%;
  border: px solid #FF5500;
  border-radius: 100%;
  background-color: none;
  width: 5vw;
  height: 5vw;
  display: block;
  position: absolute;
  top: 14vw;
  left: 50vw; 
  align-items: center;
  opacity: 1;
  animation:  scaleIn 325ms infinite cubic-bezier(.17,.67,.83,.67);
  animation-timing-function: linear
}

.wave2
{
  border: 20%;
  border: px solid #00FF18;
  border-radius: 100%;
  background-color: none;
  width: 5vw;
  height: 5vw;
  display: block;
  position: absolute;
  top: 6vw;
  left: 60vw; 
  align-items: center;
  opacity: 2;
  animation: scaleIn 800ms infinite cubic-bezier(.17,.67,.83,.67);
  animation-timing-function: linear
}

.wave3
{
  border: 20%;
  border: px solid #FFF800;
  border-radius: 100%;
  background-color: none;
  width: 5vw;
  height: 5vw;
  display: block;
  position: absolute;
  top: 30vw;
  left: 28vw; 
  align-items: center;
  opacity: 1;
  animation: scaleIn 700ms infinite cubic-bezier(.17,.67,.83,.67);
  animation-timing-function: linear
}

.wave4
 {
  border: 20%;
  border: px solid #FF00CF;
  border-radius: 100%;
  background-color: none;
 width: 5vw;
  height: 5vw;
  display: block;
  position: absolute;
  top: 28vw;
  left: 49vw; 
  align-items: center;
  opacity: 1;
  animation: scaleIn 600ms infinite cubic-bezier(.17,.67,.83,.67);
  animation-timing-function: linear
}

.wave5
 {
  border: 20%;
  border: px solid #00F3FF;
  border-radius: 100%;
  background-color: none;
  width: 5vw;
  height: 5vw;
  display: block;
  position: absolute;
  top: 32vw;
  left: 75vw; 
  align-items: center;
  opacity: 1;
  animation: scaleIn 300ms infinite cubic-bezier(.17,.67,.83,.67);
  animation-timing-function: linear
}

@keyframes scaleIn {
  0% {
    transform: scale(.6, .6);
    opacity: 1;
  }
  40%{opacity:1 }
  100% {
    transform: scale(5, 5);
    opacity: 0;
  }
}



@keyframes flashing {
  0% {opacity: 0}
  50%{opacity: 1}
  100%{opacity: 0}

}

.mapFlashing
{
   animation: flashing 625ms linear infinite;
  position: absolute;
  width: 100%;
  height: 100%;
  
}

.icons
{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
   flex-wrap: wrap;

}

.iconsImage
{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.icons img
{
   transition:.8s;
   filter: none;
   width: 80%;
   height: 80%;
}

.icons img:hover
{
  filter: hue-rotate(360deg);
  width: 95%;
   height: 95%;
}

#worldMap
{
  display: flex;
  justify-content: center;
  position: relative;

}


.map
{
  width: 70%;
  height: 100%;
 
}